name: Update

on: 
  workflow_dispatch:
  schedule:
    - cron: 00 20 * * *

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: 设置帐户
        run: git config --global user.name 'waynesg' && git config --global user.email 'waynesg511@gmail.com'

      - name: 拉取
        run: |
          cd include
          wget -N https://github.com/immortalwrt/immortalwrt/raw/openwrt-18.06-k5.4/include/kernel-version.mk
          
      - name: 添加文件到暂存区
        run: git add .
             
      - name: 暂存区全部文件替换工作区
        run: git checkout .

      - name: 提交
        run: git commit -am '内核版本变动'

      - name: 更新
        run: git push
        
  Delete:
    needs: build_packages
    if: always()
    name: Delete
    runs-on: ubuntu-20.04

    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Delete workflow runs
        uses: GitRML/delete-workflow-runs@main
        continue-on-error: true
        with:
          retain_days: 0
          keep_minimum_runs: 0
